.nav {
  display: flex;
  flex-direction: row;
  gap: 55px;
  justify-content: left;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  box-shadow: 1px 3px 3px rgba(248, 237, 87, 0.6);
  margin-bottom: 15px;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(253, 245, 131, 0.562)
  );
}
.btns {
  display: flex;
  gap: 8px;
  text-decoration: none;
  align-items: center;
  color: #101828;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
