.filter {
  width: 360px;
}
.title {
  color: #475467;
  margin: 32px 0 14px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.btn {
  display: inline-flex;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: #e44848;
  color: #fff;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
  margin-top: 32px;
}
.btn:hover {
  background: #d84343;
}
